version: '3'
services:
  api_service:
    container_name: api_container
    image: api_image
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.api.local
    ports:
      - 5000:5000
    depends_on:
      - db_service

  db_service:
    container_name: db_container
    image: postgres:13.3
    env_file:
      - .env.db.local
    ports:
      - 8000:5432
    volumes:
      - postgresql_data:/var/lib/postgresql/data/

  nginx_service:
    container_name: nginx_container
    image: nginx:1.25.1-alpine
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 80:80
    volumes:
      - ./server/default.conf:/etc/nginx/conf.d/default.conf
      - ./server/log:/var/log/nginx
    depends_on:
      - api_service
volumes:
  postgresql_data: