
@media (min-width: 1200px) {
    .file-upload {
        width: 50% ;
    }
    .remove-image {
        width: 40%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .file-upload {
        width: 60% ;
    }

    .item-product {
        width: 25%;
    }

    .btn-search {
        width: 70%;
    }

    .image-query {
        width: 40%;
    }
    .remove-image {
        width: 50%;
    }

    .file-upload {
        padding: 20px 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .file-upload {
        width: 70% ;
    }

    .item-product {
        width: 33.3333%;
    }

    .btn-search {
        width: 80%;
    }
    .image-query {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .remove-image {
        width: 60%;
    }

    .file-upload {
        padding: 20px 30px;
    }

    .content-slider {
        padding-top: 100px;
    }

}

@media (max-width: 767px) {
    .file-upload {
        width: 90% ;
    }

    .item-product {
        width: 50%;
    }

    .btn-search {
        width: 90%;
    }
    .image-query {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .remove-image {
        width: 70%;
    }

    .file-upload {
        padding: 20px 20px;
    }

    .content-slider {
        padding-top: 80px;
    }
    
}