<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/login.css" />
    <!-- <link rel="icon" href="{{ url_for('static', filename='./img/logo.png') }}"> -->
  </head>
  <body>
    <div class="login-box">
      <h2>Đăng nhập hệ thống</h2>
      <form action="" id="form">
        <div class="user-box">
          <input id="username" type="text" name="" required="" />
          <label>Username</label>
        </div>
        <div class="user-box">
          <input id="password" type="password" name="" required="" />
          <label>Password</label>
        </div>
        <div>
          <label id="notify" class="notify"></label>
        </div>
        <div class="row mb-3">
          <div>
            <a
              type="submit"
              onclick="post_login()"
              id="submit"
              class="btn_submit"
              href="#"
            >
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Đăng nhập
            </a>
            <a id="btn_register" onclick="" class="btn_register" href="register">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Đăng kí
            </a>
          </div>
        </div>
      </form>
    </div>
    <script src="./js/login.js"></script>
  </body>
</html>
