<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <link rel="icon" href="./img/logo.png">
    <link rel="stylesheet" href="./css/register.css"  />
    <title>Đăng kí</title>
  </head>
  <body>
    <form action="" id="form">
      <h2>Đăng kí tài khoản</h2>
      <p>
        <label for="username" class="floatLabel">Username</label>
        <input id="username" name="username" type="text" class="form-control">
        <span class="invalid-feedback" id="username-feedback"></span>
      </p>
      <p>
        <label for="password" class="floatLabel">Password</label>
        <input id="password" name="password" type="password" class="form-control">
        <span class="invalid-feedback" id="password-feedback"></span>
        
      </p>
      <p>
        <label for="confirm_password" class="floatLabel">Confirm Password</label>
        <input id="confirm_password" name="confirm_password" type="password"  class="form-control">
        <span class="invalid-feedback" id="confirm_password-feedback"></span>
        
      </p>
      <p>
        <button id="submit">Tạo tài khoản</button>
        <span class="invalid-feedback"></span>
      </p>
      <p class="register-feedback" id="register-feedback" style="font-size: medium; color:green;"></p>
	  <p class="success"></p>
      <p class="login" >Bạn đã có tài khoản? <a href="/">Đăng nhập tại đây</a>.</p>
    </form>
    <script src="./js/register.js"></script>
  </body>
</html>
